Flask
Flask-Login
Flask-RESTful
Flask-SQLAlchemy==2.5.1
Flask-WTF
email-validator
Jinja2
MarkupSafe
mypy
mypy-extensions
pytz
requests
SQLAlchemy==1.4.41
typing_extensions
urllib3
Werkzeug
WTForms
psycopg2-binary