{% extends "layout.html" %}
{% block content %}
    <div class="messenger-app">
        <span class="welcome">
            Welcome {{user.first_name}} {{user.last_name}}
        </span><br>
        <span class="welcome">{{user.email}}</span>
        <div class="container-message">
            <span class="sent-text">
                Sent messages:
            </span>
            <div>
                <ol>
                {% if send_messages %}
                    {% for msg in send_messages %}
                    <li>
                        <div class="msg-container">
                            <div class="title-content">
                                <span class="bold">Content: </span>
                                <textarea> {{ msg.content }}</textarea>
                            </div>
                            <a class = "message-delete-right" href="{{url_for('main.delete_send', msg_send_id = msg.id)}}">Delete</a>
                        </div>        
                    </li><br>
                    {% endfor %}
                    <br>
                {% endif %}
                </ol>
                <a class = "messenger-ref" href="{{url_for('main.create_new_message')}}">Create new message</a>
            </div>
        </div>
        <div class="container-message">
            <span class="recived-text">
                Recived messages:
            </span>
            <div>
                <ol>
                {% for email in sender %}
                    {% for msg in recived_messages %}
                    <li>
                        <div class="msg-container">
                            <div class="title-content">
                                <span class="bold">Recived from</span>
                                <span> {{ email }}:</span>
                            </div>
                            <div class="title-content">
                                <span class="bold">Content:</span>
                                <textarea> {{ msg.content }}</textarea>
                            </div>
                    </li>
                    <div class="title-content align-gap">
                        <a class = "message-replay" href="{{url_for('main.reply', msg_recived_id = msg.id)}}">Replay</a>
                        <a class = "message-delete-left" href="{{url_for('main.delete_recived', msg_recived_id = msg.id)}}">Delete</a>
                    </div>
                    {% endfor %}
                {% endfor %}
                </ol>
            </div>
        </div>
        <a class = "messenger-ref" href="{{url_for('main.logout')}}">Log out</a>
    </div>
{% endblock content %}